<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<style type="text/css">
		body{
			background: skyblue;
			text-align: center;
			color: white;
			font-size: 150%;
		}		
	</style>
</head>
<body>
	<h1>404, OOPS</h1>
	<p>You have done something wrong.</p>
</body>
</html>