<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
	<% include partials/nav.ejs %>
	<h1>Welcome to the node application</h1>
	<p>This is an awesome application.</p>
</body>
</html>